name: Generate Documentation
run-name: Generate documentation for ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: ${{ github.event_name == 'release' || github.event_name == 'workflow_dispatch' }}

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      # Build steps
      - uses: oven-sh/setup-bun@v2
      - run: mv ./.github/README.md ./README.md
      - name: Build
        run: bunx moonwave build --code ./
      
      # Upload steps
      - name: Upload artifact
        if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: build
          retention-days: 5
  
  publish:
    if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
    
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: documentation
          path: build
      
      # Upload steps
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
